
/* Body */
body {
    font-family: "Roboto", Helvetica,;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f9fa;
  }
  
  
/* Navigation */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    text-align: center; /* Center align the text */
    padding: 1rem 0;
  }
  
  .navbar-brand {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #343a40;
    text-transform: uppercase;
  }
  
  .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #6c757d;
    margin-left: 1.5rem;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #343a40;
  }
  
  
  
/* Jumbotron */
.jumbotron {
    background-color: #f6a8a8;
    padding: 3rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white; /* Set the text color to white */
    text-align: center; /* Center align the text */
  }
  
  .display-4 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .lead {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  

  
 
  .container {
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  